// nextflow.config

//main options to change
params.outdir = 'results'
params.deacon_index = "${baseDir}/data/panhuman-1.k31w15.idx"
params.sylph_db = "${baseDir}/data/gtdb-r220-c1000-dbv1.syldb"
workDir = '/data/scratch/projects/punim2582/nextflow_work'

//enables apptainer support
apptainer {
    enabled = true
    autoMounts = true
    cacheDir  = '/data/projects/punim2582/QC_pipeline/singularity'
    }

//intermediary file cleanup using nf-boost
plugins {
  id 'nf-boost'
}
boost {
  cleanup = 'v2'
}
boost.cleanupInterval = '180s'
// Slurm executor settings
process {
  executor = 'slurm'
  // Set resource requests
  cpus = 8
  memory = '16 GB'
  time = '30min'
  //container settings
  container = 'zunairkhm/metagenomic_qc:v0.1'
    withName: DEACON_FILTER {
        container = 'zunairkhm/deacon-image:v1.0'
    }
}

// Pipeline manifest
manifest {
    name        = 'meatgenomic_qc'
    description = 'A Nextflow pipeline for FASTQ QC and Deacon filtering'
    version     = '1.0.0'

    contributors = [
        [
            name        : 'Khurram Zunair',
            affiliation : '',
            email       : '',
            github      : '',
            contribution: ['author', 'maintainer'],
            orcid       : ''
        ]
    ]
}

//setting for local use
/*docker {
    enabled = true
    //runOptions = '--platform linux/amd64'
}apptainer.registry   = 'quay.io'
process {
    executor = 'local'
    cpus = 12
    memory = '16 GB'
    time = '1h'
    containerOptions = '--platform linux/amd64'
}*/
