// nextflow.config

//main options to change
params.outdir = "${baseDir}/results"
params.deacon_index = '../databases/deacon_index/panhuman-1.k31w15.idx'
params.nohuman_db = '../databases/nohuman/'
params.sylph_95_db = '../databases/sylph_databases/gtdb_95_DB/gtdb-r220-c200-dbv1.syldb'
params.sylph_99_db = '../databases/sylph_databases/gtdb_99_ordered_DB/gtdb_ordered_99.syldb'
params.kraken2_db = '../databases/kraken2_database/'
params.tracs_refseqs = '../databases/gtdb_genomes_reps_r220/database'
params.tracs_database = '../databases/gtdb-reps-rs220-k51.sbt.zip'
workDir = "${baseDir}/work"



//enables apptainer support
singularity {
    enabled = true
    autoMounts = true
    cacheDir  = "${baseDir}/singularity"
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    }

//intermediary file cleanup using nf-boost; does not work consistently on slurm :(
/*plugins {
  id 'nf-boost'
}
boost {
  cleanup = 'v2'
}
boost.cleanupInterval = '180s'*/

//cleanup = true //enables nextflow built-in cleanup

params.slurm_account = 'pawsey1172'
// Slurm executor settings
process {
  cache = 'lenient' //apparently important in pawsey due to lustre?
  stageInMode = 'symlink'
  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  errorStrategy = 'ignore'
  beforeScript = 'module load pawseyenv/2025.08 && module load singularity/4.1.0-slurm' //load singularity on each job before running
  // Set resource requests
  cpus = 8
  memory = '16 GB'
  time = '30min'
  //container settings
  
  withName: KINGFISHER_GET {
        clusterOptions = "--partition=copy" //use copy partition for data transfer
        container = 'zunairkhm/kingfisher-ascp:v1.0'
    }
    withName: DEACON_FILTER {
        container = 'zunairkhm/deacon-image:v1.0'
    }
    withName: NOHUMAN_FILTER {
        container = 'zunairkhm/nohuman-image:v1.0'
        time = '1h'
        memory = '8 GB'
    }
    withName: SYLPH_QUERY {
        memory = '32 GB'
    }
    withName: KRAKEN2_KRAKEN2 {
    cpus = 16
    memory = '110 GB'
    time = '2h'
    container = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
}
    withName: TRACS_ALIGN {
        container = 'zunairkhm/tracs-align:v1.0'
        cpus = 20   
        memory = '35.9 GB'
        time = '1d'
    }
}

// Pipeline manifest
manifest {
    name        = 'meatgenomic_qc'
    description = 'A Nextflow pipeline for metagenomic preprocessing'
    version     = '1.0.0'

    contributors = [
        [
            name        : 'Khurram Zunair',
            affiliation : '',
            email       : '',
            github      : '',
            contribution: ['author', 'maintainer'],
            orcid       : ''
        ]
    ]
}

//setting for local use
/*docker {
    enabled = true
    //runOptions = '--platform linux/amd64'
}apptainer.registry   = 'quay.io'
process {
    executor = 'local'
    cpus = 12
    memory = '16 GB'
    time = '1h'
    containerOptions = '--platform linux/amd64'
}*/
